/* /Views/Shared/_Layout.cshtml.rz.scp.css */
html[b-u2vfoh1lt8] {
  font-size: 14px;
  min-height: 100%;
  position: relative;
}

body[b-u2vfoh1lt8] {
  margin-bottom: 80px;
  background-color: #f5f7fb;
}

.footer[b-u2vfoh1lt8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: #fff;
}
